[task-group] {
  background-color: #ebecf0;
  padding: 5px;
  border-radius: 5px;
}

[task-group-header] {
  margin-left: 5px;
  font-weight: 700;
  max-height: 256px;
  min-height: 18px;
  font-size: 14px;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 5px;
}

[task-overflow] {
  overflow: auto;
  max-height: 350px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #db958b;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}
